{# cadastro\templates\cadastro\base.html #}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>{{ sitename }}{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cadastro/css/style.css' %}">
</head>

<body>

    <header>
        <h1>{{ sitename }}</h1>
    </header>

    <hr>

    <nav>
        <a href="{% url 'index' %}">Início</a> |&nbsp;
        <a href="{% url 'contato' %}">Contato</a> |&nbsp;
        {% if user.is_authenticated %}
        <a href="{% url 'adicionar' %}">Adicionar</a> |&nbsp;
        Olá, {{ user.username }}! |
        <form method="POST" action="{% url 'logout' %}" style="display: inline;">
            {% csrf_token %}
            <button type="submit">Sair</button>
        </form>
        {% else %}
        <a href="{% url 'login' %}">Entrar</a>
        {% endif %}
    </nav>

    <hr>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <main>
        {% block conteudo %}{% endblock %}
    </main>

    <hr>
    <footer>
        <p>&copy; 2026 {{ dono }}</p>
    </footer>

</body>

</html>